PORT=7000
NODE_ENV=production

# Générer avec : openssl rand -hex 32
ENCRYPTION_KEY=change-me

# Générer avec : openssl rand -hex 32
JWT_SECRET=change-me

# Mot de passe PostgreSQL
POSTGRES_PASSWORD=change-me
DATABASE_DRIVER=postgres
POSTGRES_URI=postgres://stremosaic:${POSTGRES_PASSWORD}@postgres:5432/stremosaic
CACHE_DRIVER=redis
REDIS_URL=redis://redis:6379
CORS_ORIGIN=*
LOG_LEVEL=info
